<section class="phx-hero">
  <h1>Poop Log</h1>
  <p>Log your poop</p>
</section>

<section class="row">
  <article class="column">
    <h2>Log a Meal</h2>
    <a href="/meals/new" class="button">New Meal</a>
  </article>
  <article class="column">
    <h2>Log a Poop</h2>
    <a href="/poops/new" class="button">New Poop</a>
  </article>
</section>
